html
head
	meta(charset='UTF-8')
	title SyncAni
body
	h1 SyncAni
	form(action='/search' method='post')
		input(type='text' name='title' placeholder='Anime Title')
		button.btn search
	h1 Episodes
	ul
		each val, name in list
			li
				a(href='/video' + val) #{ name }